<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>商品検索</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="/js/formJs.js" th:src="@{/js/formJs.js}"></script>
</head>
<body>
<h1>商品検索</h1>

	<p>name: <input type ="text" id="name_s" name="name_s" /></p>
	<p>description: <input type="text" id="description_s" name="description_s" /></p>
	<p>maxPrice: <input type = "text" id = "maxPrice_s" name = "minPrice_s" /></p>
	<p>minPrice: <input type = "text" id = "minPrice_s" name = "maxPrice_s" /></p>
	<p><input type="submit" id = "button_search" value="click" /><span id="errText"></span></p>
<br />
<br />
<br />
【商品 追加/削除/更新】
	<p>種別:
	<input type="radio" name = "other" id="url_post" value="add" />add
	<input type="radio" name = "other" id="url_post" value="update" />update
	<input type="radio" name = "other" id="url_post" value="delete" />delete
	</p>
	<p>name: <input type = "text" id = "name" name = "name" /></p>
	<p>description: <input type = "text" id = "description" name = "description" /></p>
	<p>price: <input type = "text" id = "price" name = "price" /></p>
	<p><input type="submit" id = "button_other" value="click" /><span id="addErrText"></span></p>
【新商品】
<table border="1">
	<tr><th>商品名</th><th>価格</th><th>説明</th></tr>
	<tr th:each="good : ${arrives}">
		<td th:text="${good.getName()}"></td>
		<td th:text="${good.getPrice()}"></td>
		<td th:text="${good.getDescription()}"></td>
	</tr>
</table>
<br />
【入荷予定なし】
<table border="1">
	<tr><th>商品名</th><th>価格</th><th>説明</th></tr>
	<tr th:each="good : ${discontinued}">
		<td th:text="${good.getName()}"></td>
		<td th:text="${good.getPrice()}"></td>
		<td th:text="${good.getDescription()}"></td>
	</tr>
</table>

<a href = "home">あなたのお気に入りTweetを表示する</a>
</body>
</html>